@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Armata|Economica);

* {
  font-family: "Armata";
}

body {
  background: #fffcdd;
  padding: 2.23em;
}

.name {
  margin: auto;
  margin-top: -4.40em;
  margin-left: 5.80em;
  color: #658585;
  font-size: 1.53em;
  font-weight: bold;
}
.username {
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  color: #658585; 
  font-size: .87em;
}
.bio {
  margin: auto;
  margin-left: 10.43em;
  color: #c0c5c5; 
  font-size: .87em;
}
img.avatar {
	padding: .7em;
  margin-left: .3em;
  margin-top: .3em; 
  align-self: center;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}