<div class="container-fluid m-0 jumbotron bg-warning">
  <div class="container d-flex justify-content-center">
    <div class="p-3 pt-1 mt-0 mb-3 text-white-50 col-lg-6 col-md-8 col-sm-10 col-xs-12">
      <h2 class="mb-1 text-white">Socialytics.</h2>
      <span nz-text>Blazing fast, actionable Instagram analytics for any public account 🚀</span>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <form [formGroup]="searchQuery" (submit)="search()" class="col-lg-6 col-md-8 col-sm-10 col-xs-12 mb-3">
      <nz-input-group nzAddOnBefore="@" [nzSuffix]="suffixIconSearch">
        <input #usernameSearchBar nz-input type="text" value="search" id="searchbar" placeholder="Instagram username"
          [(ngModel)]="username" formControlName="username" (submit)="search()">
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </form>
  </div>
</div>

<div *ngIf="!loading && !stats">
  <nz-result nzStatus="403">
    <div nz-result-extra>
      <button nz-button nzType="primary" (click)="focusUsernameSearch()">Search for a user to view statistics</button>
    </div>
  </nz-result>
</div>

<div *ngIf="loading && !loaded" class="container-fluid m-0 py-4 min-100bg-light">
  <div class="container">
    <nz-skeleton [nzActive]="loading" class="row w-100" [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
    <div class="d-flex mt-4 justify-content-between">
      <nz-card *ngFor="let i of [1,2,3]" style="background: transparent; width: 31%">
        <nz-skeleton [nzActive]="true" [nzLoading]="loading">
          <nz-card-meta>
          </nz-card-meta>
        </nz-skeleton>
      </nz-card>
    </div>
    <div class="d-flex mt-4 justify-content-between">
      <nz-card *ngFor="let i of [1,2,3,4]" style="background: transparent; width: 23.5%">
        <nz-skeleton [nzActive]="true" [nzLoading]="loading">
          <nz-card-meta>
          </nz-card-meta>
        </nz-skeleton>
      </nz-card>
    </div>
    <div class="d-flex mt-4 justify-content-between">
      <nz-card *ngFor="let i of [1,2]" style="background: transparent; width: 47.5%">
        <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzParagraph]="{ rows: 10 }">
          <nz-card-meta>
          </nz-card-meta>
        </nz-skeleton>
      </nz-card>
    </div>

  </div>
</div>

<div *ngIf="loaded && stats" class="container-fluid bg-light stats-container">
  <div class="container">
    <div class="row w-100">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 d-flex align-items-center justify-content-center">
        <img class="avatar" [src]="stats.profilePictureUrlHD" />
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 card-body">
        <div class="name">
          {{stats.name}}
        </div>
        <div class="username">
          @{{stats.username}}
        </div>
        <div class="bio">
          {{stats.bio}}
        </div>
        <div class="website">
          <a (click)="externalUrl(stats.website)" target="_blank">{{stats.website}}</a>
        </div>
      </div>
    </div>
    <div [style.margin-top.px]="'20'" class="row">
      <div *ngFor="let item of summary" class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body text-center">
            <small>{{item.key}}</small>
            <h2 class="card-text">{{item.value | number: '1.'}}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let item of engagements" class="col-md-3">
        <div class="card mb-4 box-shadow">
          <div class="card-body text-center">
            <small>{{item.key}}</small>
            <h2 class="card-text">{{item.value | number: '1.'}}
            </h2>
            <small style="font-size: 10px">(based on {{sampleSize}} posts)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="card mb-4 box-shadow">
          <div class="card-header text-center">
            <h6 class="text-center">Most Liked Media</h6>
          </div>
          <div class="card-body text-center">
            <div class="row">
              <div *ngFor="let media of mostLikedMedia" class="col-md-4">
                <div class="card mb-4 box-shadow topMediaContainer">
                  <div class="overlay" (click)="toggleModal(media)">
                    <div class="text">
                      <i class="fas fa-heart"></i>
                      {{media.node.edge_media_preview_like.count | number: '1.'}}
                      <br />likes
                    </div>
                  </div>
                  
                  <img (click)="externalUrl('http://www.instagram.com/p/' + media.node.shortcode)"
                    class="card-img-top topMedia image" [src]="media.node.display_url" />
                </div>
              </div>
            </div>
            <small style="font-size: 10px">(based on {{sampleSize}} posts)</small>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="card mb-4 box-shadow">
          <div class="card-header text-center">
            <h6 class="text-center">Most Commented Media</h6>
          </div>
          <div class="card-body text-center">
            <div class="row">
              <div *ngFor="let media of mostCommentedMedia" class="col-md-4">
                <div class="card mb-4 box-shadow topMediaContainer">
                  <div class="overlay" (click)="toggleModal(media)">
                    <div class="text">
                      <i class="fas fa-comment"></i>
                      {{media.node.edge_media_to_comment.count | number: '1.'}}
                      <br />comments
                    </div>
                  </div>
                  <img (click)="externalUrl('http://www.instagram.com/p/' + media.node.shortcode)"
                    class="card-img-top topMedia image" [src]="media.node.display_url" />
                </div>
              </div>
            </div>
            <small style="font-size: 10px">(based on {{sampleSize}} posts)</small>
          </div>
        </div>
      </div>
    </div>
    <p style="font-size: 9px;">*Instagram public endpoints have been changing since April 2018. As a result, the application is in continuous development. If the endpoints have changed since the last test run, please bear with me and consider creating an issue <a href="https://github.com/preethamvishy/socialytics/issues">here</a>.</p>
  </div>
</div>

<div class="modal fade" id="postExpand" tabindex="-1" role="dialog" aria-labelledby="postExpandTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <ng-container *ngIf="expandPost != null ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-secondary" id="postExpandTitle">@{{stats.username}}'s post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container">
          <img (click)="externalUrl('http://www.instagram.com/p/' + expandPost.node.shortcode)"
            class="card-img-top topMedia image" [src]="expandPost.node.display_url" />
          <div class="row justify-content-center align-middle text text-muted">
            <div>
              <span class="right-space">
                <i class="fas fa-heart"></i>
                {{expandPost.node.edge_media_preview_like.count  | number: '1.'}}
              </span>
              <i class="fas fa-comment"></i>
              {{expandPost.node.edge_media_to_comment.count  | number: '1.'}}
            </div>
          </div>
          <div class="row bio card-body">
            {{expandPost.node.edge_media_to_caption.edges[0].node.text || ''}}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"
            (click)="externalUrl('http://www.instagram.com/p/' + expandPost.node.shortcode)">Open in Instagram</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="errorTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <ng-container>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-secondary" id="postExpandTitle">Oops!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container">
          Looks like the username is invalid or Instagram is blocking our request.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>