::ng-deep .vertical-center-modal .ant-modal {
    top: 60px;
}

.bio {
    margin: auto;
    color: #b5bbbb; 
    font-size: .87em;
  }

  .right-space {
    margin-right: 15px;
    margin-left: 55px;
  }